name: Upload VCMI mod archive

on:
  # push:
  #   branches:
  #     - main
  workflow_dispatch:
    inputs:
      release_tag:
        description: "Release tag"
        required: true
      asset:
        description: "Asset filename"
        required: true
        default: "vcmi-mod.zip"
      overwrite:
        description: "Overwrite"
        default: false
        type: boolean

permissions:
  contents: write

jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          path: repo

      - name: Upload VCMI mod archive
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -euox pipefail
          cd repo

          # If tag is empty, use latest tag (push trigger, dev only)
          tag="${{ inputs.release_tag }}"
          [ -n "$tag" ] || tag=$(gh release view --json tagName --jq '.tagName')

          # If asset is empty, use a default "vcmi-mod.zip" (push trigger, dev only)
          asset="${{ inputs.asset }}"
          [ -n "$asset" ] || asset="vcmi-mod.zip"

          # Validate
          [[ "$asset" =~ ^[0-9a-z.-]+\.zip$ ]] || { echo "invalid asset filename: $asset"; exit 1; }

          assets=$(gh release view "$tag" --json assets)
          models=$(echo "$assets" | jq -r '.assets[] | select(.name | endswith(".onnx")) | .name')
          exists=$(echo "$assets" | jq --arg asset "$asset" '.assets | any(.name == $asset)')

          if $exists; then
            [ "${{ inputs.overwrite }}" = "true" ] || { echo "asset already exists"; exit 1; }
          fi

          for m in $models; do
            gh release download "$tag" --repo "${{ github.repository }}" -D models -p "$m"
          done

          # The archive should contain a root directory named after the asset
          # vcmi-mod.zip
          #   |- vcmi-mod/
          #     |- mod.json
          #     |- models/
          #       |- model1.onnx
          #       |- model2.onnx

          cd ..
          root="${asset%.zip}"
          mv repo "$root"
          zip -qr "$asset" "$root" -x "$root/.git/*" -x "$root/.github/*"
          gh release upload "$tag" "$asset" --repo "${{ github.repository }}" --clobber
